<div class="row">
    <div class="col-md-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <button type="submit" class="btn btn-success mr-1" [disabled]="!recipeForm.valid">Add Recipe</button>
                <button type="button" class="btn btn-danger" (click)="onCancelRecipe()">Cancel</button>
            </div>
            <div class="form-group">
                <label for="name">Recipe name</label>
                <input type="text"
                       id="name"
                       class="form-control"
                       placeholder="Enter Recipe name"
                       formControlName="name">
            </div>
            <div class="form-group">
                <label for="image">Recipe image</label>
                <input type="text" 
                       id="image" 
                       class="form-control" 
                       placeholder="Image path URL" 
                       formControlName="imagePath"
                       #imagePath>
                <img [src]="imagePath.value" class="img-fluid">
            </div>
            <div class="form-group">
                <label for="description">Recipe description</label>
                <textarea id="description" 
                          class="form-control"
                          placeholder="Enter Recipe description"
                          formControlName="description">
                </textarea>
            </div>
            <div class="form-group" formArrayName="ingredients">
                <!-- Loop through all the ingredients, through all formControls of FormArray (Gives us access to all the FormControls) -->
                <div class="row" 
                     *ngFor="let ingredientControl of getControls(); let i = index" 
                     [formGroupName]="i">
                    <div class="col-md-8 form-group">
                        <input type="text" 
                               class="form-control" 
                               formControlName="name">
                    </div>
                    <div class="col-md-2 form-group">
                        <input type="number" 
                               class="form-control" 
                               formControlName="amount">
                    </div>
                    <div class="col-md-2 text-right">
                        <button type="button" 
                                (click)="deleteIngredient(i)"
                                class="btn btn-danger">&#215;
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-success" 
                                type="button"
                                (click)="onAddIngredient()">Add Ingredient
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>